<!DOCTYPE html>
<html>
  <head>
	   <title>Basic Component Vue.js</title>
  </head>
  <body>
    <div id="app" v-if="status == 'tampilkan' ">
      <h1>{{ message }}</h1><br>
      <label v-for="user in users">Name :{{ user.name }}, Umur {{ user.age }}<br></label>
    </div>
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
    status: 'tampilkan',
    users: [
      {
    	  name : 'Yongki',
        age : '21',
    	},
    	{	
    		name : 'Surya',
        age : '22',
    	},
    	{	
    	  name : 'alkayyis',
        age : '23',
    	}
    ]
  }
})
</script>